<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="file-${shortdate}.txt" />
		<target name="testLog" xsi:type="File" fileName="testFile-${shortdate}.txt" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
		<logger name="NET_Core.*" minlevel="Error" writeTo="logfile" />
        <logger name="*" minlevel="Error" writeTo="testLog" />
    </rules>
</nlog>